<p id="notice"><%= notice %></p>

<p>
  <b>Worker info:</b>
  <%= @analysis_item.worker_info %>
</p>

<p>
  <b>Worker started utc:</b>
  <%= @analysis_item.worker_started_utc %>
</p>

<p>
  <b>Worker run details:</b>
  <%= @analysis_item.worker_run_details %>
</p>

<p>
  <b>Status:</b>
  <%= @analysis_item.status %>
</p>

<p>
  <b>Offset start seconds:</b>
  <%= @analysis_item.offset_start_seconds %>
</p>

<p>
  <b>Offset end seconds:</b>
  <%= @analysis_item.offset_end_seconds %>
</p>

<p>
  <b>Audio recording:</b>
  <%= @analysis_item.audio_recording %>
</p>

<p>
  <b>Analysis job:</b>
  <%= @analysis_item.analysis_job %>
</p>


<%= link_to 'Edit', edit_analysis_item_path(@analysis_item) %> |
<%= link_to 'Back', analysis_items_path %>
