<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>User</th>
    <th>Audio recording</th>
    <th>Offset</th>
    <th>Name</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.user %></td>
    <td><%= bookmark.audio_recording %></td>
    <td><%= bookmark.offset %></td>
    <td><%= bookmark.name %></td>
    <td><%= bookmark.notes %></td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
