<h1>Listing progresses</h1>

<table>
  <tr>
    <th>Saved search</th>
    <th>Activity</th>
    <th>Bit map</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @progresses.each do |progress| %>
  <tr>
    <td><%= progress.saved_search %></td>
    <td><%= progress.activity %></td>
    <td><%= progress.bit_map %></td>
    <td><%= link_to 'Show', progress %></td>
    <td><%= link_to 'Edit', edit_progress_path(progress) %></td>
    <td><%= link_to 'Destroy', progress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Progress', new_progress_path %>
