<h1>Listing saved_searches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Search object</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @saved_searches.each do |saved_search| %>
  <tr>
    <td><%= saved_search.name %></td>
    <td><%= saved_search.search_object %></td>
    <td><%= link_to 'Show', saved_search %></td>
    <td><%= link_to 'Edit', edit_saved_search_path(saved_search) %></td>
    <td><%= link_to 'Destroy', saved_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saved search', new_saved_search_path %>
