<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @saved_search.name %>
</p>

<p>
  <b>Search object:</b>
  <%= @saved_search.search_object %>
</p>


<%= link_to 'Edit', edit_saved_search_path(@saved_search) %> |
<%= link_to 'Back', saved_searches_path %>
