<%= form_for(@audio_recording) do |f| %>
  <% if @audio_recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio_recording.errors.count, "error") %> prohibited this audio_recording from being saved:</h2>

      <ul>
      <% @audio_recording.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :recorded_date %><br />
    <%= f.datetime_select :recorded_date %>
  </div>
  <div class="field">
    <%= f.label :site %><br />
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :duration_seconds %><br />
    <%= f.text_field :duration_seconds %>
  </div>
  <div class="field">
    <%= f.label :sample_rate_hertz %><br />
    <%= f.number_field :sample_rate_hertz %>
  </div>
  <div class="field">
    <%= f.label :channels %><br />
    <%= f.number_field :channels %>
  </div>
  <div class="field">
    <%= f.label :bit_rate_bps %><br />
    <%= f.number_field :bit_rate_bps %>
  </div>
  <div class="field">
    <%= f.label :media_type %><br />
    <%= f.text_field :media_type %>
  </div>
  <div class="field">
    <%= f.label :data_length_bytes %><br />
    <%= f.number_field :data_length_bytes %>
  </div>
  <div class="field">
    <%= f.label :media_data_hash %><br />
    <%= f.text_field :media_data_hash %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
