<h1>Listing audio_recordings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Recorded date</th>
    <th>Site</th>
    <th>Duration seconds</th>
    <th>Sample rate hertz</th>
    <th>Channels</th>
    <th>Bit rate bps</th>
    <th>Media type</th>
    <th>Data length bytes</th>
    <th>Media Data Hash</th>
    <th>Status</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @audio_recordings.each do |audio_recording| %>
  <tr>
    <td><%= audio_recording.user %></td>
    <td><%= audio_recording.recorded_date %></td>
    <td><%= audio_recording.site %></td>
    <td><%= audio_recording.duration_seconds %></td>
    <td><%= audio_recording.sample_rate_hertz %></td>
    <td><%= audio_recording.channels %></td>
    <td><%= audio_recording.bit_rate_bps %></td>
    <td><%= audio_recording.media_type %></td>
    <td><%= audio_recording.data_length_bytes %></td>
    <td><%= audio_recording.media_data_hash %></td>
    <td><%= audio_recording.status %></td>
    <td><%= audio_recording.notes %></td>
    <td><%= link_to 'Show', audio_recording %></td>
    <td><%= link_to 'Edit', edit_audio_recording_path(audio_recording) %></td>
    <td><%= link_to 'Destroy', audio_recording, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Audio recording', new_audio_recording_path %>
