<%= form_for(@analysis_script) do |f| %>
  <% if @analysis_script.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@analysis_script.errors.count, "error") %> prohibited this analysis_script from being saved:</h2>

      <ul>
      <% @analysis_script.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :settings %><br />
    <%= f.text_field :settings %>
  </div>
  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :extra_data %><br />
    <%= f.text_area :extra_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
