<h1>Listing analysis_scripts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Description</th>
    <th>Settings</th>
    <th>Display name</th>
    <th>Extra data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @analysis_scripts.each do |analysis_script| %>
  <tr>
    <td><%= analysis_script.name %></td>
    <td><%= analysis_script.version %></td>
    <td><%= analysis_script.description %></td>
    <td><%= analysis_script.settings %></td>
    <td><%= analysis_script.display_name %></td>
    <td><%= analysis_script.extra_data %></td>
    <td><%= link_to 'Show', analysis_script %></td>
    <td><%= link_to 'Edit', edit_analysis_script_path(analysis_script) %></td>
    <td><%= link_to 'Destroy', analysis_script, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Analysis script', new_analysis_script_path %>
