<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Urn:</b>
  <%= @project.urn %>
</p>

<p>
  <b>Notes:</b>
  <%= @project.notes %>
</p>

<p>
  <b>Sites:</b>
  <%= @project.sites %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
