<h1>Listing audio_events</h1>

<table>
  <tr>
    <th>Audio recording</th>
    <th>Start time seconds</th>
    <th>End time seconds</th>
    <th>Low frequency hertz</th>
    <th>High frequency</th>
    <th>Is reference</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @audio_events.each do |audio_event| %>
  <tr>
    <td><%= audio_event.audio_recording %></td>
    <td><%= audio_event.start_time_seconds %></td>
    <td><%= audio_event.end_time_seconds %></td>
    <td><%= audio_event.low_frequency_hertz %></td>
    <td><%= audio_event.high_frequency %></td>
    <td><%= audio_event.is_reference %></td>
    <td><%= link_to 'Show', audio_event %></td>
    <td><%= link_to 'Edit', edit_audio_event_path(audio_event) %></td>
    <td><%= link_to 'Destroy', audio_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Audio event', new_audio_event_path %>
