<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @tag.text %>
</p>

<p>
  <b>Is taxanomic:</b>
  <%= @tag.is_taxanomic %>
</p>

<p>
  <b>Class:</b>
  <%= @tag.class %>
</p>

<p>
  <b>Type of tag:</b>
  <%= @tag.type_of_tag %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
