<%= form_for(@analysis_job) do |f| %>
  <% if @analysis_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@analysis_job.errors.count, "error") %> prohibited this analysis_job from being saved:</h2>

      <ul>
      <% @analysis_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :script_name %><br />
    <%= f.text_field :script_name %>
  </div>
  <div class="field">
    <%= f.label :script_version %><br />
    <%= f.text_field :script_version %>
  </div>
  <div class="field">
    <%= f.label :script_description %><br />
    <%= f.text_field :script_description %>
  </div>
  <div class="field">
    <%= f.label :script_settings %><br />
    <%= f.text_field :script_settings %>
  </div>
  <div class="field">
    <%= f.label :script_display_name %><br />
    <%= f.text_field :script_display_name %>
  </div>
  <div class="field">
    <%= f.label :script_extra_data %><br />
    <%= f.text_area :script_extra_data %>
  </div>
  <div class="field">
    <%= f.label :data_set_identifier %><br />
    <%= f.text_field :data_set_identifier %>
  </div>
  <div class="field">
    <%= f.label :saved_search %><br />
    <%= f.text_field :saved_search %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
