<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @analysis_job.name %>
</p>

<p>
  <b>Description:</b>
  <%= @analysis_job.description %>
</p>

<p>
  <b>Notes:</b>
  <%= @analysis_job.notes %>
</p>

<p>
  <b>Script name:</b>
  <%= @analysis_job.script_name %>
</p>

<p>
  <b>Script version:</b>
  <%= @analysis_job.script_version %>
</p>

<p>
  <b>Script description:</b>
  <%= @analysis_job.script_description %>
</p>

<p>
  <b>Script settings:</b>
  <%= @analysis_job.script_settings %>
</p>

<p>
  <b>Script display name:</b>
  <%= @analysis_job.script_display_name %>
</p>

<p>
  <b>Script extra data:</b>
  <%= @analysis_job.script_extra_data %>
</p>

<p>
  <b>Datat set identifier:</b>
  <%= @analysis_job.data_set_identifier %>
</p>

<p>
  <b>Saved search:</b>
  <%= @analysis_job.saved_search %>
</p>


<%= link_to 'Edit', edit_analysis_job_path(@analysis_job) %> |
<%= link_to 'Back', analysis_jobs_path %>
