<!DOCTYPE html>
<html ng-app="baw"  ng-init="current_user = <%= current_user.to_json %>;">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Baw Site" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Baw Site" %>">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://login.persona.org/include.js"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body >

<%= "" #yield
%>

<div id="page-wrapper">
    <header>

      <a href="/"><h1>Bioacoustic Workbench</h1></a>
      <a href ng-click="$reloadView()">refresh</a>
    </header>

    <!-- each view must specify the controller they use -->
        <div id="content-wrapper" ng-view></div>
    </div>
</div>

<footer>
  Bio-Acoustic Workbench, an open source escience initiative.
</footer>
</body>
</html>
