<!DOCTYPE html>
<html ng-app="baw"  ng-init="current_user = <%= current_user.to_json %>;">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Baw Site" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Baw Site" %>">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://login.persona.org/include.js"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body >

<%= "" #yield
%>
<header>

  <a href="/"><h1>Bioacoustic Workbench</h1></a>
  <a href ng-click="$reloadView()">refresh</a>
</header>
<div id="page-wrapper">

    <navigation ng-controller="NavigationCtrl" ></navigation>

    <div id="login-holder">
      <div id="loginbox">
        <div id="login-inner" ng-controller="LoginCtrl">

          <form ng-submit="submit()">
            <h3>Login or signup with</h3>
            <ul>
              <li><a href="#" class="btn-auth btn-facebook">Sign in with facebook</a> </li>
              <li><a href="#" class="btn-auth btn-github"  >Sign in with GitHub</a> </li>
              <li><a ng-click="submit('google')" class="btn-auth btn-google"  >Sign in with Google</a> </li>
              <li><a href="#" class="btn-auth btn-openid"  >Sign in with OpenID</a> </li>

              <li><a ng-click="submit('persona')" class="persona-button"><span >Sign in with Persona</span></a> </li>
              <li><a href="#" class="btn-auth btn-twitter" >Sign in with Twitter</a> </li>
              <li><a href="#" class="btn-auth btn-windows" >Sign in with Live ID</a> </li>
              <li><a href="#" class="btn-auth btn-yahoo"   >Sign in with Yahoo</a> </li>
            </ul>

            <label>Your email address
                <input type="text" class="login" ng-model="password"/>
            </label>
            <button type="submit">Proceed</button>
          </form>
        </div>
        <div class="clear"></div>
      </div>
    </div>


    <!-- each view must specify the controller they use -->
        <div id="content-wrapper" ng-view></div>

</div>

<footer>
  Bio-Acoustic Workbench, an open source escience initiative.
</footer>
</body>
</html>
